# ==========================================
# ExactPay Environment Configuration
# ==========================================

# Application
APP_NAME=ExactPay
APP_ENV=development

# Stellar Network
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Wallet
WALLET_PROVIDER=

# Smart Contracts
IDENTITY_CONTRACT_ID=
PAYMENT_CONTRACT_ID=
SETTLEMENT_CONTRACT_ID=
PROFILE_CONTRACT_ID=

# Zero-Knowledge
ZK_PROVIDER=
ZK_VERIFIER_ENDPOINT=

# Backend API
API_BASE_URL=http://localhost:3000

# Database
DATABASE_URL=

# Logging
LOG_LEVEL=info
